<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Resource Versioning with Spring and Thymeleaf</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link th:href="@{/css/demo.css}" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <h1>Resource Versioning with Spring and Thymeleaf</h1>
        <ul>
            <li>Check the Javascript file: <a th:href="@{/js/demo.js}" th:text="@{/js/demo.js}"></a></li>
            <li>Check the Javascript file: <a th:href="@{/js/app/demo2.js}" th:text="@{/js/app/demo2.js}"></a></li>
            <li>Check the CSS file: <a th:href="@{/css/demo.css}" th:text="@{/css/demo.css}"></a></li>
            <li>Check the image file: <a th:href="@{/img/spring-icon.png}" th:text="@{/img/spring-icon.png}"></a></li>
        </ul>

        <p class="bg-image"></p>

        <p id="content"></p>
        <script th:src="@{/js/demo.js}"></script>
        <script th:src="@{/js/app/demo2.js}"></script>
    </body>
</html>
